<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrooveGuideAI</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
    <div id="head-container">
        <h1>
            GrooveGuideAI
        </h1>
    </div>
    <div id="search-choice">
        <form action="">
            <label>
                Search by genre
                <input id="search-genre" type="radio" name="searchType" value="genre">
            </label>
            <label>
                Search by artist
                <input id="search-artist" type="radio" name="searchType" value="artist" checked>
            </label>
        </form>
    </div>
    <div id="user-input-container">
        <input id="user-input" type="text" placeholder="Enter here after selection...">
        <button id="submit-btn">Submit</button>
    </div>
    <div id="full-output">
        <div class="output-chunk" chunk-id="1">
            <div id="output-container1">
                <div id="output1">
                    song 1
                    <!-- output inserted here -->
                </div>
            </div>
        </div>
        <div id="btn-container" button-id="1">
            <div id="like-btn-container">
                <button class="like-btn">
                    👍
                </button>
            </div>
            <div id="dislike-btn-container">
                <button class="dislike-btn">
                    👎
                </button>
            </div>
        </div>
        <div class="output-chunk" chunk-id="2">
            <div id="output-container2">
                <div id="output2">
                    song 2
                    <!-- output inserted here -->
                </div>
            </div>
        </div>
        <div id="btn-container" button-id="2">
            <div id="like-btn-container">
                <button class="like-btn">
                    👍
                </button>
            </div>
            <div id="dislike-btn-container">
                <button class="dislike-btn">
                    👎
                </button>
            </div>
        </div>
        <div class="output-chunk" chunk-id="3">
            <div id="output-container3">
                <div id="output3">
                    song 3
                    <!-- output inserted here -->
                </div>
            </div>
        </div>
        <div id="btn-container" button-id="3">
            <div id="like-btn-container">
                <button class="like-btn">
                    👍
                </button>
            </div>
            <div id="dislike-btn-container">
                <button class="dislike-btn">
                    👎
                </button>
            </div>
        </div>
    </div>
    <div id="finish-btn-container">
        <button id="finish-btn">
            Submit
        </button>
    </div>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>