<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Welcome to our Music App</title>
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
<h1>Please sign in</h1>
<div id="error" th:if="${param.error}">
    Invalid username or password.
</div>
<div id="logout" th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div><label> Username: <input class="input-field" type="text" name="username"/> </label></div>
    <div id="password-container"><label> Password: <input class="input-field" type="password" name="password"/> </label></div>
    <div><input id="submit-btn" type="submit" value="Sign In"/></div>
</form>
<br>
<a id="redirect-link" href="/req/signup">Don't have an account? Click here!</a>
</body>
</html>