<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>
<form id="signup-form">
    <h1>Sign Up</h1>
    <label>
        Name
        <input id="username" type="text" name="name" required>
    </label>
    <label>
        Password
        <input id="password" type="text" name="password" required>
    </label>
    <input id="submit-btn" type="submit" value="submit">
</form>
<a href="/login">Back to login</a>
<script>
    const form = document.getElementById('signup-form')

    form.addEventListener('submit', (e) => {
        e.preventDefault()

        const username = document.getElementById('username').value
        const password = document.getElementById('password').value

        const data = {
            username,
            password
        }

        const dataAsJson = JSON.stringify(data)

        fetch('/registration/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: dataAsJson
        }).then(response => {
            if (!response.ok) {
                return response.text().then(text => {throw new Error(text)})
            }
            return response.json()
        }).then(data => {
            console.log("Registration success", data)
        }).catch((error) => {
            console.log("Error", error)
        })
    })
</script>
</body>
</html>