<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>
<form id="signup-form" action="/registration/signup" method="post">
    <h1>Sign Up</h1>
    <label>
        Name
        <input id="username" type="text" name="name" required>
    </label>
    <label>
        Password
        <input id="password" type="text" name="password" required>
    </label>
    <button id="submit" type="submit">Sign Up</button>
</form>
<a href="/login">Back to login</a>
<script>
    const form = document.getElementById('signup-form');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        const data = {
            userName: username,
            password
        };

        const target = '/req/signup';

        try {
            const response = await fetch(target, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const result = await response.json();
            console.log(result);
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>
</body>
</html>